<<<<<<< HEAD
.flex {
    display: flex;

}

.justify-content {
    justify-content: center;
}

.justf-spacebetween {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.p-1 {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #2f2f2f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #2f2f2f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;

=======
.flex {
    display: flex;

}

.justify-content {
    justify-content: center;
}

.justf-spacebetween {
    justify-content: space-between;
}

.align-items {
    align-items: center;
}

.border {
    border: 2px solid red;
    margin: 3px;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.p-1 {
    padding: 10px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #2f2f2f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 10px;
    border: 3px solid #2f2f2f;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;

>>>>>>> 55b4c8412e4d178d299883c902a85a1cbcb3b8a4
}